body {
  margin: 0;
  font-family: 'Roboto', Arial, sans-serif; /* Set the font-family to Roboto with Arial as fallback */
}

.topnav {
  overflow: hidden;
  background-color: lightpink;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  background-color: pink;
  color: black;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #dfa6b2;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

/* not navbar related */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  width: 50%;
}

.logo {
  font-size: 32px;
  color:black;
  text-decoration: none;
  font-weight: 700;
  margin-right: 20px;
}

.responsive {
  max-width: 100%;
  height: auto;
}

/* image flexbox */
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  max-width: 100%; /* Ensure the image doesn't exceed the container width */
  height: auto; /* Maintain aspect ratio */
}

#menuWrapper {
  text-align: center; /* Center the content horizontally */
}

#menuItems {
  display: inline-block; /* Display the div as an inline-block element */
  border: 2px solid pink; /* Add a 2px solid pink border */
  padding: 10px; /* Add some padding inside the border */
  background-color: #f5c7d1; /* Set the background color to light pink */
  margin: 0 10px; /* Adjust margin to create space before and after the content */
}


#menuItems select {
  text-align-last: justify; /* Justify the options after line breaks */
  width: 200px; /* Adjust width as needed */
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid pink;
}

.button1:hover {
  background-color: pink;
  color: white;
}

.toggle-container {
  display: inline-block;
  margin-right: 20px; /* Adjust spacing between toggle switches as needed */
}

.toggle-text {
  display: block;
  margin-bottom: 5px; /* Adjust vertical spacing between text and toggle switch as needed */
}

#addressForm {
    display: none;
}

.toggle-container {
    margin-bottom: 10px; /* Adjust margin as needed */
}